@font-face {
    font-family: apple;
    src: url(/fonts/SF-UI-Display-Regular.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: apple, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(24, 24, 24);
}

a {
    text-decoration: none;
}

hr {
    border-radius: 25px;
}

.content h1 {
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 3pc;
    letter-spacing: 1px;
}

.card {
    margin: 2pc auto;
    width: 25rem;
    height: 30rem;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
    border-radius: 15px;
    background: #e0e0e0;
}

@media screen and (max-width: 430px) {
    .card {
        width: 22rem;
    }
    .content h1 {
        font-size: 25px;
    }
}

.search {
    padding-top: 2pc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 12pc;
    height: 3.5pc;
    padding-left: 0.5pc;
    border-radius: 7px 0 0 7px;
    border: none;
    border-right: none;
    background: none;
    font-size: 16px;
    color: #eee;
    background: #1b1b1ac9;
}

.search button {
    padding: 4px;
    width: 3.5pc;
    height: 3.5pc;
    background: none;
    border: none;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    background: #0000ffad;
    transition: all 0.5s;
}

.search button:hover {
    background: #3535e7;
}

.img {
    text-align: center;
    margin-top: 2pc;
}

.img img {
    width: 300px;
    height: 300px;
    background: #ddd;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    border-radius: 25px;
    padding: 10px;
}

.down {
    text-align: center;
    margin-top: 3pc;
}

.down a {
    font-size: 20px;
    color: #fff;
    background: #4848f5;
    padding: 12px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.5s;
    display: none;
}

.down a:hover {
    background: #3535e7;
}

.empty {
    text-align: center;
    margin-top: 3pc;
}

.empty h2 {
    font-size: 20px;
    color: #fff;
    background: #af0a00;
    padding: 12px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.5s;
    display: none;
}

.made {
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 25px;
}

.made a {
    color: #4848f5;
    border: 2px #ddd solid;
    padding: 3px 10px;
    border-radius: 10px;
    transition: all 0.5s;
}

.made a:hover {
    background-color: #4848f5;
    color: #ddd;
}
